:root {
    --imgURL: "";
  }

body {
    background: #eeebeb;
}

header {
    height: 80px;
    background: #5163D3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo--container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: var(--imgURL);
    height: 385px;
}

.highlight--container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    background: transparent;
}

.highlight--imgBox {
    display: none;
}

.highlight--textBox {
    height: 45%;
    align-self: flex-end;
    padding: 0 0 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
}

.highlight--category {
    color: #5163D3;
    background: #FFFFFF;
    border-radius: 4px;
    height: 20px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
    padding: 0 5px;
}

.highlight--title {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.highlight--title > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.highlight--resume {
    display: none;
}

.highlight--font {
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
}

.cards--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    border: 1px solid #EEEEEE;
    box-shadow: 3px 3px 5px rgba(27, 28, 30, 0.1);
    border-radius: 4px;
    margin: 20px 20px 0 20px;
    width: 522px;
    height: 180px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 20px;
    justify-content: center;
    height: auto;
    background: white;
}

.card--imgBox {
    display: none;
}

.card--category {
    background: #D7E4FB;
    border-radius: 4px;
    height: 20px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #5163D3;
    margin-bottom: 20px;
}

.card--title {
    margin-bottom: 15px;
    color: #5163D3;
}

.card--title > a{
    color: #5163D3;
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    text-decoration: none;
    cursor: pointer;
}

.card--resume {
    margin-bottom: 15px;
    font-size: 15px;
}

.card--font {
    font-weight: light;
    font-size: 15px;
}

@media (min-width: 769px) {
    .highlight {
        background-image: none;
    }
    
    .highlight--imgBox {
        display:block;
    }
};